
MDRecordSDK.xcworkspace/xcuserdata/zzz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

/Script
/IPA
MDRecordSDK.xcworkspace/xcuserdata/sunfei.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
/.DS_Store
/xcuserdata
\xcuserdata
\Pods
Pods